// {{ .ModuleName }} 模块API函数
{{- range .Imports }}
{{- if eq .Module $.ModuleName }}
import { {{ range $index, $interface := .Interfaces }}{{ if $index }}, {{ end }}{{ $interface }}{{ end }} } from './index.js'
{{- else }}
import { {{ range $index, $interface := .Interfaces }}{{ if $index }}, {{ end }}{{ $interface }}{{ end }} } from '../{{ .Module }}/index.js'
{{- end }}
{{- end }}
import { request } from '../index.js'

{{- range $index, $func := .Functions }}
{{- if $index }}

{{- end }}
{{ $func }}
{{- end }}